
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

/* Allgemeine Einstellungen */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* header und footer sind auto / main nimmt den verfügbaren Platz */
  min-height: 100vh;
  background: black;
  color: #EBEBEB;
  font-family: 'Segoe UI', Arial, sans-serif;
  line-height: 1.5; /* interligne */
}

.container {
  max-width: 1200px;
  margin: 0 auto; /* horizontal zentriert*/
  padding: 0 1rem;
}


/* HEADER ------------------------------------------------------------------------------------------*/











/* --Main-------------------------------------------------------------------------------------------------------- */

/* Hero */
.hero {
  background:white;
}

.hero-inner {
  display: grid;
  grid-template-columns: 1fr;   /* Mobile: 1 Spalte */
  align-items: center;
  gap: 2rem;
  padding-block: 2rem;
}

.hero-text h2  {
  font-size: 2.5rem;            /* Mobile-angepasst */
  color: #0A0909;
  margin-bottom: 0.5rem;
}

.hero-text p {
  font-size: 1.125rem;
}

.hero-image {
  position: relative;
  height: 550px;
  overflow: hidden;
}


.hero-image .hero-slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.features .grid {
  display: grid;
  grid-template-columns: 1fr;   /* Mobile: alle Boxen untereinander */
  gap: 1rem;
  margin-block: 2rem;
  
}

/*Intro Bar (blauer Balken) */
.intro {
  background: #60BDDF;
  padding-block: 1.5rem;
  text-align: center;
}

.intro p {
  color: #0A0909;
  font-size: 1rem;
}

.box {
  padding: 1.6rem;
  border-radius: 20px;
}

.box h3 {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}

/* Box-Farben (in allen Views gleich) */
.box-orange { background: #F15520; color: #fff; }
.box-blue   { background: #022780; color: #fff; }
.box-brown  { background: #935628; color: #fff; }
.box-purple { background: #54115D; color: #fff; }

.icon-link {
  display: inline-block;
  color: inherit; /* so icon keeps its color */
  text-decoration: none;
  animation: pulse 1.5s infinite;
}

.icon-link:hover,
.icon-link:focus {
  color: #20f131; /* or any highlight color you want */
}

.box-brown .btn {
  background: linear-gradient(135deg, #022780 50%,#F15520 );
  color: #fff;
  padding: 0.75rem ;
  margin: 0 auto;
  border-radius: 30px;
  text-decoration: none;
  font-weight:bold;
  display: block;
  width: 4cm;
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.iconlink{
  text-decoration: none;
  animation: pulse 1.5s infinite;
}

/* Icons innerhalb der Boxen */
section i {
  font-size: 30px;
  margin-bottom: 10px;
}
.bi-lightbulb-fill{
  color: #F15520;
 
}
#fact-text {
  margin-top: 0.5rem;
  font-size: 1.8rem;
  font-style: italic;
  font-family: Sofia, cursive;
  font-weight: 400;
}

/* fact Section */
.cta {
  background: #60BDDF;
  text-align: center;
  padding-block: 2rem;
}

.cta h2 {
  color: #0A0909;
  margin-bottom: 1rem;
}
.cta p{
  color: #0A0909;
  /* font-size: ; */
}




/* Desktop-Layout (ab 900px Breite) ----------------------------------------------------------------------------*/
@media (min-width: 900px) {
  /* Hero: Zwei Spalten nebeneinander */

  .hero-inner {
    grid-template-columns: 1fr 1fr ;
    text-align: left;
  }

  /* Feature-Grid: 3 Spalten × 2 Zeilen */
  .features .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;      /* 3 gleich breite Spalten */
    grid-template-rows: auto auto;  /* 2 Reihen, Höhe folgt Inhalt */
    gap: 1.5rem;
    
  }

  /* Orange („The Rockstar Code“) links spaltenübergreifend zweireihig hoch */
  .box-orange {
    grid-column: 1/3;     /* linke Spalte */
    grid-row: 1 ;    /* belegt Zeile 1 und 2 */
  }

  /* Braun („Fact“) rechts ebenfalls zweireihig hoch */
  .box-brown {
    grid-column: 3;     /* rechte Spalte */
    grid-row: 1/4;    /* belegt Zeile 1 und 2 */
  }

  /* Blau („Rockstar Academy“) links in Zeile 3 */
  .box-blue {
    grid-column: 1;     /* linke Spalte */
    grid-row: 3;        /* dritte Zeile */
  }

  /* Lila („Avatar Creator“) rechts in Zeile 3 */
  .box-purple {
    grid-column: 2;     /* rechte Spalte */
    grid-row: 3;        /* dritte Zeile */
  }

  
}
